@font-face {
  font-family: "RedditSans-Light";
  src: url(fonts/RedditSans-Light.ttf) format("truetype");
}
@font-face {
  font-family: "RedditSans-Regular";
  src: url(fonts/RedditSans-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "RedditSans-SemiBold";
  src: url(fonts/RedditSans-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "RedditSans-Bold";
  src: url(fonts/RedditSans-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "RedditSans-ExtraBold";
  src: url(fonts/RedditSans-ExtraBold.ttf) format("truetype");

}
html {
  font-size: 100%;}

main {
  margin-left: 10.75rem;
  margin-right: 10.75rem;
}
body {
  font-family: "RedditSans-Regular", sans-serif;
  margin-left: 13.75rem;
  margin-right: 13.75rem;
}
h1 {
  font-family: "RedditSans-ExtraBold", sans-serif;
}
h2 {
  font-family: "RedditSans-Bold", sans-serif;
}
h3 {
  font-family: "RedditSans-SemiBold" sans-serif;
}
.btn {
 /* background-color: orangered!important;
 border-color: orangered!important;
 color: white!important; */
 font-family: "RedditSans-Light", sans-serif;
}
/* .btn:hover {
  color: black!important;
} */
[class$="-primary"]{
  color: white!important;
  background-color: orangered!important;
  border-color: orangered!important;
}[class$="-primary"]:hover{
  color: black!important;

}
/*headline banner*/
#headlogo {
  margin-left: 13.75rem;
  margin-right: 13.75rem;
  width: 50%;
  position: relative;
  padding-bottom: -2rem;
  padding-top: 2rem;
}
#tellmore {
  text-align: right;
  margin-right: 13.75rem;
}
#snoos {
  align-content: center;
  scale: 70%;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
/*about secton*/
.intro .container-fluid {

}
